body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}

.container {
    width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/*Puzzle*/

#puzzleContainer {
  display: flex;
  max-width: 450px;
  width: 90vw;
min-width: 300px;
  padding: 10px;
  aspect-ratio: 1;

  table {
    position: center;
    border-collapse: collapse;
    aspect-ratio: 1;
    border: 5px solid black;
  }

  .boldCol {
    border-right: 5px solid black;
  }

  .boldRow {
    border-bottom: 5px solid black;
  }

  td {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
  }

  .numberInputs {
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 30px;
    color: darkgrey;
    text-align: center;
    border: none;
    caret-color: transparent;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }

  .gridSquare {
    padding: 0px;
    transition: background-color 0.3s; /* Smooth transition */
}

.gridSquare:focus-within {
  background-color: #ececec; /* Change to your desired color */
}
}

/*Buttons*/

button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#buttonContainer {
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  button {
    background-color: rgb(147, 193, 245);
  }
}

#newPuzzleContainer {
  flex-direction: row;
  justify-content: center;
  #easyPuzzleButton {
    background-color: rgb(197, 232, 220);
  }
  #medPuzzleButton {
    background-color: lightgoldenrodyellow;
  }
  #hardPuzzleButton {
    background-color: rgb(247, 207, 169);
  }
  #expertPuzzleButton {
    background-color: rgb(248, 137, 137);
  }
}

/* For smaller screens */
@media screen and (max-width: 550px) {

    .numberInputs {
      font-size: 18px;
    }
  
}
