.webpage {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}

.container {
    width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/*Puzzle*/

#puzzleContainer {
    display: flex;
    justify-content: center; 
    max-width: 450px;
    min-width: 250px;
    padding: 10px;
    margin: auto;
  

  table {
    width: 90vw;
    position: center;
    border-collapse: collapse;
    aspect-ratio: 1;
    border: 5px solid black;
  }

  .boldCol {
    border-right: 5px solid black;
  }

  .boldRow {
    border-bottom: 5px solid black;
  }

  td {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
  }

  .numberInputs {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    font-size: 36px;
    color: darkgrey;
    text-align: center;
    border: none;
    caret-color: transparent;
    outline: none;
  }

  .numberInputs::-webkit-outer-spin-button,
.numberInputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numberInputs[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}

  .gridSquare {
    padding: 0px;
    transition: background-color 0.3s;
    background-color: white;
}

.gridSquare:focus-within {
  transition: background-color 0.3s;
  background-color: #ececec; 
}
}

/*Buttons*/

button {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#buttonContainer {
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  button {
    background-color: rgb(147, 193, 245);
  }
}

#newPuzzleContainer {
  flex-direction: row;
  justify-content: center;
  #easyPuzzleButton {
    background-color: rgb(197, 232, 220);
  }
  #medPuzzleButton {
    background-color: lightgoldenrodyellow;
  }
  #hardPuzzleButton {
    background-color: rgb(247, 207, 169);
  }
  #expertPuzzleButton {
    background-color: rgb(248, 137, 137);
  }
}

/* For smaller screens */
@media screen and (max-width: 550px) {

    .numberInputs {
      font-size: 18px;
    }
  
}
